body {
    font: 1em/1.6em;
    font-family: 'Open Sans', sans-serif;
    color: #353535;
    background: #ccc;
}

.section {
    text-align: center;
}

.zag {
    font-size: 29px;
    text-transform: uppercase;
}


/*Стили для меню*/

#meinMenu {
    position: fixed;
    z-index: 999;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 18px;
    left: 12px;
}

.menu__li {
    display: inline-block;
    margin: 0 3px;
}

.menu__a {
    text-decoration: none;
    font-size: 0.9em;
    background: rgba(255, 255, 255, 0.82);
    color: #353535;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #444;
    transition: all .5s;
}

.menu__a:hover {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, .7);
}

.menu__li.active .menu__a {
    color: #fff;
    background: #000;
}


/*Стили для страниц*/

.pg1 {
    background-image: url(images/fon3.jpg);
    background-size: cover;
}

.pg1__blackfon {
    background: rgba(0, 0, 0, 0.7);
    padding: 55px 0;
}

.pg1__name,
.pg1__discr {
    color: #28d8f0;
    text-shadow: 1px 1px 4px #111;
    line-height: 1em;
}

.pg1__name {
    font-size: 42px;
    margin: 0 0 30px;
}

.pg1__discr {
    font-size: 35px;
    margin: 0 0 60px;
}

.pg1__lozung {
    text-shadow: 1px 1px 4px #111;
    color: #bbb;
    font-size: 22px;
    font-weight: 400;
}


/*Page2*/

.pg2 {
    background-image: url(images/fon.jpg);
    background-size: cover;
    text-shadow: 1px 1px 2px #111;
}

.pg2__gray {
    color: #eee;
}

.pg2__bullet {
    font-size: 21px;
    font-weight: 300;
    color: #ddd;
    margin-top: 20px;
    position: relative;
    padding-left: 80px;
}

.pg2__bulletdescr {
    color: #bbb;
    margin-bottom: 20px;
    padding-left: 80px;
}

.icon-star-full,
.icon-video-camera,
.icon-clock,
.icon-film,
.icon-box-remove,
.icon-lifebuoy {
    color: #ff6131;
    font-size: 35px;
    position: absolute;
    left: 0;
    top: 7px;
}


/*Page3-Sliders*/

.pg3_sl {
    background-image: url(images/halftone.png)
}

.pg3_sl .zag {
    cursor: pointer;
    transition: all .3s;
}

.pg3_sl .zag:hover {
    color: #c40000;
}

.pg3_sl .zag:hover .blue_text {
    color: #c40000;
}


/*ОБщие стили*/

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.blue_text {
    color: #12a2f5;
    transition: all .3s;
}

.pg__right {
    width: 50%;
    margin-right: 5%;
    text-align: left;
}

.pg__left {
    width: 45%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.orange_text {
    color: #ff6131;
    font-weight: 600;
    font-size: 23px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}