body {
    font: 1em/1.6em;
    font-family: 'Open Sans', sans-serif;
    color: #353535;
    background: #f9f9f9;
}

.section {
    text-align: center;
}

.zag {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.3em;
    margin: 20px 0 10px;
}

.podzag {
    font-size: 27px;
    line-height: 1.2em;
    margin: 0 0 20px;
}

.blackfon {
    background: rgba(0, 0, 0, 0.7);
    padding: 55px 0;
}


/*Стили для меню*/

#meinMenu {
    position: fixed;
    z-index: 999;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 18px;
    left: 12px;
}

.menu__li {
    display: inline-block;
    margin: 0 3px;
}

.menu__a {
    text-decoration: none;
    font-size: 0.9em;
    background: rgba(255, 255, 255, 0.82);
    color: #353535;
    padding: 10px;
    border-radius: 3px;
    /* box-shadow: 1px 1px 3px #444; */
    transition: all .5s;
}

.menu__a:hover {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, .7);
}

.menu__li.active .menu__a {
    color: #fff;
    background: #000;
}


/*Стили для страниц*/


/*Page 1*/

.pg1 {
    background-image: url(images/fon3.jpg);
    background-size: cover;
}

.pg1__name,
.pg1__discr {
    color: #28d8f0;
    text-shadow: 1px 1px 4px #111;
    line-height: 1em;
}

.pg1__name {
    font-size: 42px;
    margin: 0 0 30px;
}

.pg1__discr {
    font-size: 35px;
    margin: 0 0 60px;
}

.pg1__lozung {
    text-shadow: 1px 1px 4px #111;
    color: #bbb;
    font-size: 22px;
    font-weight: 400;
}


/*Page2*/

.pg2 {
    background-image: url(images/fon.jpg);
    background-size: cover;
    text-shadow: 1px 1px 2px #111;
}

.pg2__gray {
    color: #eee;
}

.pg2__bullet {
    font-size: 21px;
    font-weight: 300;
    color: #ddd;
    margin-top: 20px;
    position: relative;
    padding-left: 80px;
}

.pg2__bulletdescr {
    color: #bbb;
    margin-bottom: 20px;
    padding-left: 80px;
}

.icon-star-full,
.icon-video-camera,
.icon-clock,
.icon-film,
.icon-box-remove,
.icon-lifebuoy {
    color: #ff6131;
    font-size: 35px;
    position: absolute;
    left: 0;
    top: 7px;
}


/*Page3-Sliders*/

.pg3_sl {
    background-image: url(images/halftone.png)
}

.pg3_sl .zag {
    cursor: pointer;
    transition: all .3s;
}

.pg3_sl .zag:hover {
    color: #c40000;
}

.pg3_sl .zag:hover .blue_text {
    color: #c40000;
}


/*Page 4*/

.pg4_sl1 {
    background-color: #FFDE44;
}

.lozung_pg4 {
    font-size: 26px;
    font-weight: 300;
    color: #353535;
}

.pg4_sl2 {
    background-color: #A3F8FF;
}

.pg4_sl3 {
    background-color: #FFC079;
}

.pg4_sl4 {
    background-color: #E9FF79;
}


/*Page 5*/

.pg5__sell {
    margin: 60px 0;
}

.pg5__link {
    color: #fff;
    text-decoration: none;
    font-size: 27px;
    text-transform: uppercase;
    background-color: rgb(214, 37, 20);
    padding: 20px 40px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgb(87, 2, 2);
    text-shadow: 1px 1px 2px rgb(87, 2, 2);
    transition: all 0.5s;
}

.pg5__link:hover {
    background-color: rgb(5, 145, 226);
    box-shadow: 1px 1px 3px rgb(3, 106, 165);
    text-shadow: 1px 1px 2px rgb(3, 106, 165);
}


/*Page 6*/

.pg6 {
    background: url(images/bg.png);
    color: #eee;
}

.pg6 .zag {
    margin: 0 0 40px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.pg6 img {
    margin: 10px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #111;
    transition: all .5s;
}

.pg6 img:hover {
    border-color: rgb(5, 145, 226);
    box-shadow: 1px 1px 3px rgb(3, 81, 126);
    transform: scale(1.1);
}


/*Page 7*/

.pg7 {
    background-image: url(images/tactile_noise.png);
    color: #fff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 1.3em;
}

.pg7 .pg__right {
    margin-top: 0;
}

.garantiya {
    transition: all 1s ease-in-out;
}

.garantiya:hover {
    /* transition: all 1s; */
    transform: rotate(360deg);
}

.tar {
    text-align: right;
}

.tac {
    text-align: center;
}


/* Main Styles */


/* Button */


/* .knopka {} */

.button {
    display: block;
    background-color: #c0392b;
    width: 380px;
    height: 80px;
    line-height: 80px;
    margin: 40px 0;
    color: #fff;
    position: relative;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button span,
.button .icon {
    display: block;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
}

.button span {
    width: 72%;
    line-height: inherit;
    font-size: 22px;
    text-transform: uppercase;
    left: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button span:after {
    content: '';
    background-color: #a53125;
    width: 2px;
    height: 70%;
    position: absolute;
    top: 15%;
    right: -1px;
}

.button .icon {
    width: 28%;
    right: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button .icon .fa {
    font-size: 30px;
    vertical-align: middle;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}

.button .icon .icon-info,
.button .icon .icon-circle-right {
    height: 36px;
}

.button .icon .icon-checkmark {
    display: none;
}

.button.success span,
.button:hover span {
    left: -72%;
    opacity: 0;
}

.button.success .icon,
.button:hover .icon {
    width: 100%;
}

.button.success .icon .fa,
.button:hover .icon .fa {
    font-size: 45px;
}

.button.success {
    background-color: #27ae60;
}

.button.success .icon .icon-info,
.button.success .icon .icon-circle-right {
    display: none;
}

.button.success .icon .icon-checkmark {
    display: inline-block;
}

.button:hover {
    opacity: .9;
}

.button:hover .icon .icon-info,
.button:hover .icon .icon-circle-right {
    height: 46px;
}

.button:active {
    opacity: 1;
}

.button_blue {
    background-color: rgb(0, 162, 255);
}

.button_blue span:after {
    background-color: rgb(0, 124, 196);
}


/*Офорление контролов*/

.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-next {
    border-width: 0;
    border-color: transparent;
    margin-top: -14px;
    width: auto;
    height: auto;
    font-size: 28px;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.fp-controlArrow.fp-prev:hover {
    color: #12a2f5;
    transform: scale(1.5) rotate(360deg);
}

.fp-controlArrow.fp-next:hover {
    color: #12a2f5;
    transform: scale(1.5) rotate(-360deg);
}


/*ОБщие стили*/

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.fw700 {
    font-weight: 700;
}

.blue_text {
    color: #12a2f5;
    transition: all .3s;
}

.red_text {
    color: #AF0101;
}

.yellow_text {
    color: #fdbf06;
}

.pg__right {
    width: 50%;
    margin-right: 5%;
    text-align: left;
    margin-top: 40px;
}

.pg__left {
    width: 40%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.orange_text {
    color: #ff6131;
    font-weight: 600;
    font-size: 23px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}